<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">    
            <a class="navbar-brand " href="#slides"><p class="type-animation-text">/KRZYSZTOF_ZOŃ</p></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link px-2" href="#slides">/Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="#section-projects">/Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="#section-art">/Art</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link px-2" href="#section-social">/Social</a>
                    </li>
                </ul>
            </div>
        </div>     
    </nav>
</header>

<main>
    <div id="slides" class="carousel slide carousel-position main-slides" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/bg-image-2.jpg" alt="carouselBackgroundOne">
                <div class="carousel-caption">
                    <div class="border-container d-none d-lg-block">
                        <h5>KRZYSZTOF ZOŃ</h5>
                        <p class="mt-2">Technical secondary school student and software developer</p>
                    </div>
                    <div class="border-container d-lg-none">
                        <h5>KRZYSZTOF</h5>
                        <h5>ZOŃ</h5>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="./assets/bg-image-1.jpg" alt="carouselBackgroundTwo">
              <div class="carousel-caption">
                    <div class="border-container d-none d-lg-block">
                        <h5>KRZYSZTOF ZOŃ</h5>
                        <p class="mt-2">Technical secondary school student and software developer</p>
                    </div>
                    <div class="border-container d-lg-none">
                    <h5>KRZYSZTOF</h5>
                    <h5>ZOŃ</h5>
                    </div>
            </div>
          </div>
          <div class="carousel-item">
              <img src="./assets/bg-image-3.jpg" alt="carouselBackgroundThree">
              <div class="carousel-caption">
                <div class="border-container d-none d-lg-block">
                    <h5>KRZYSZTOF ZOŃ</h5>
                    <p class="mt-2">Technical secondary school student and software developer</p>
                </div>
                <div class="border-container d-lg-none">
                  <h5>KRZYSZTOF</h5>
                  <h5>ZOŃ</h5>
                </div>
              </div>
          </div>
      </div>
  </div>

    <div class="jumbotron jumbotron-fluid my-0">
        <div class="container">
            <h1 class="display-4">My passion...</h1>
            <p class="lead">I spend every spare moment on creating software and learning various issues related to IT and electronics. I create web, desktop and mobile applications based on .NET and NodeJS technologies. Do you have an idea for an application or service? I will be happy to turn your idea into a finished product.</p>
        </div>
    </div>

    <div class="parallax parallax-image-one" id="section-projects">
        <project-section></project-section>
    </div>

    <div class="jumbotron jumbotron-fluid my-0">
        <commercial-section></commercial-section>
    </div>

    <div class="parallax parallax-image-one" id="section-art">
        <art-section></art-section>
    </div>

    <div class="container-fluid padding my-5" id="section-social">
        <socialmedia-section></socialmedia-section>
    </div>
</main>

<footer>
    <div class="footer-copyright text-center py-2">Wszelkie prawa zastrzeżone © 2020</div>
</footer>