<div class="container-fluid">
    <div class="row text-center mt-5">
        <div class="col-7 mx-auto my-5">
            <h1>GALLERY</h1>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary mx-1" (click)="select(true)">Photography</button>
                <button type="button" class="btn btn-primary mx-1" (click)="select(false)">Design</button>
            </div>
        </div>
    </div>

    <div *ngFor="let image of imagesContainer" class="row text-center mb-5">
        <div *ngIf="check(image.category)" class="col-lg-7 col-md-10 mx-auto">
            <img [ngClass]="(selectPhotographyOnly == false) ? 'cover-art-width' : ''"  class="img-fluid" [src]="image.url" alt="{{ image.name }}" loading="lazy">
            <p class="mt-1">{{ image.name }}  /  {{ image.category }}</p>
            <hr class="mt-5">
        </div>
    </div>
</div>
