@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

/* === NAVBAR === */
.navbar-dark {
    color: #fff;
    background-color: #474747 !important;
}

.navbar-brand {
    color: #fff;
    font-size: 25px;
    letter-spacing: 5px;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #787878 !important;
}

/* === CAROUSEL === */
.carousel-caption {
    top: 45%;
}

.carousel-inner img {
    width: 100%;
    min-height: 100% !important;
    height: 100vh !important;
    object-fit: cover;
}

.carousel-caption h5 {
    text-align: center;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-shadow: 2px 2px 4px #000000;
}

.carousel-caption p {
    width: 75%;
    margin: auto;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
}

/* === JUMBOTRON === */
.jumbotron {
    font-weight: 300;
    background-color: #fff !important;
}

/* === PARALLAX === */
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax h1 {
    letter-spacing: 5px;
    color: #474747 !important;
    text-transform: uppercase;
}

.parallax-image-one {
    background-image: url("../img/bg-image-1.jpg");
}

.parallax-image-two {
    background-image: url("../img/bg-image-3.jpg");
}

/* === CARDS === */
.card-ext-link, .card-ext-link:hover {
    text-decoration: none;
    color: #212529;
}

/* === SOCIAL === */
.social a {
    font-size: 4.5rem;
    padding: 3rem;
}

.social .fa-instagram {
    color: #833AB4;
}

.social .fa-twitter {
    color: #1DA1F2
}

.social .fa-deviantart {
    color: #00e59c;
}

.social .fa-github {
    color: #333;
}

.social .fa-stack-overflow {
    color: #f48024;
}

.social .fa-soundcloud {
    color: #ff3300;
}       