@{
}

<!-- CUSTOM CAROSUEL-->
<div id="slides" class="carousel slide carousel-position" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/bg-image-2.jpg" alt="carouselBackgroundOne">
            <div class="carousel-caption">
                <div class="border-container">
                    <h5>KRZYSZTOF ZOŃ</h5>
                    <p class="mt-2">Technical secondary school student and software developer</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/bg-image-1.jpg" alt="carouselBackgroundTwo">
            <div class="carousel-caption">
                <div class="border-container">
                    <h5>KRZYSZTOF ZOŃ</h5>
                    <p class="mt-2">Technical secondary school student and software developer</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="img/bg-image-3.jpg" alt="carouselBackgroundThree">
            <div class="carousel-caption">
                <div class="border-container">
                    <h5>KRZYSZTOF ZOŃ</h5>
                    <p class="mt-2">Technical secondary school student and software developer</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JUMBOTRON -->
<div class="jumbotron jumbotron-fluid my-0">
    <div class="container">
        <h1 class="display-4">My passion...</h1>
        <p class="lead">
            I spend every spare moment on creating software and learning various issues related to IT and electronics. I create web, desktop and mobile applications based on .NET and NodeJS technologies. Do you have an idea for an application or service? I will be happy to turn your idea into a finished product.
        </p>
    </div>
</div>

<!-- PARALLAX SECTION - PROGRAMMING PROJECTS -->
<div class="parallax parallax-image-one" id="section-projects">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 my-5">
                <div class="heading-parallax-border">
                    <h1>PROGRAMMING PROJECTS</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-4 my-5">
                <a class="card-ext-link" href="https://github.com/Krzysztofz01/Alchemy-Engine" target="_blank">
                    <div class="card">
                        <img class="card-img-top" src="img/alchemy-logo.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Alchemy-Engine</h5>
                            <p class="card-text">Library created using .NET technology. Used to easily manage colors and graphics. Generates gradients and color palettes based on images. Thanks to it, we can convert image file types and make basic graphics processing.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12 col-lg-4 my-5">
                <a class="card-ext-link" href="https://github.com/Krzysztofz01/AccessPointMap" target="_blank">
                    <div class="card">
                        <img class="card-img-top" src="img/apm-logo.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">AccessPointMap</h5>
                            <p class="card-text">A platform for keeping statistics about Wifi. It consists of a mobile app for collecting geolocation and wifi data, as well as a web platofrom that processes and presents data thanks to Google Maps API and custom search engine.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12 col-lg-4 my-5">
                <a class="card-ext-link" href="#">
                    <div class="card">
                        <img class="card-img-top" src="img/www-logo.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">MyWebsite</h5>
                            <p class="card-text">A page about me that I plan to develop and turn into a slightly larger web platform. It is fully responsive and provides information about my projects and interests.For now there is just the frontend, but I plan to expand its functionality and capabilities.</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- JUMBOTRON -->
<div class="jumbotron jumbotron-fluid my-0">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 mb-3">
                <h2>Commercial projects</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-12 col-lg-4">
                <h3>Completed orders:</h3>
                <h1>3</h1>
            </div>
            <div class="col-md-12 col-lg-4">
                <h3>Maintained projects:</h3>
                <h1>2</h1>
            </div>
            <div class="col-md-12 col-lg-4">
                <h3>Further projects:</h3>
                <h1>4</h1>
            </div>
        </div>
    </div>
</div>

<!-- PARALLAX SECTION - ART PROJECTS-->
<div class="parallax parallax-image-one" id="section-art">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 my-5">
                <div class="heading-parallax-border">
                    <h1>HOBBY ART PROJECTS</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-4 my-5">
                <a class="card-ext-link" href="https://www.deviantart.com/sp3cn4z/gallery/all">
                    <div class="card">
                        <img class="card-img-top" src="img/art-photography.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                Photography
                            </h5>
                            <p class="card-text">A collection of my photos, a very contrasting combination of nature and industry.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12 col-lg-4 my-5">
                <a class="card-ext-link" href="https://soundcloud.com/creo-sote">
                    <div class="card">
                        <img class="card-img-top" src="img/art-music.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Music</h5>
                            <p class="card-text">I play various instruments, but I devote the most time to electronic music under the pseudonym "creosote".</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-12 col-lg-4 my-5">
                <a class="card-ext-link" href="https://youtu.be/RMvAB-T7KpE">
                    <div class="card">
                        <img class="card-img-top" src="img/art-videos.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Videos</h5>
                            <p class="card-text">I plan to document my progress on projects, but so far I only hit it during "AccessPointMap".</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- SOCIAL SECTION-->
<div class="container-fluid padding my-5" id="section-social">
    <div class="row text-center padding">
        <div class="col-12">
            <h2>Social media</h2>
        </div>
        <div class="col-12 social padding">
            <a href="https://twitter.com/zon_krzysztof" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/zonkrzysztof/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.deviantart.com/sp3cn4z" target="_blank"><i class="fab fa-deviantart"></i></a>
            <a href="https://github.com/Krzysztofz01" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://stackoverflow.com/users/12150524/krzysztofz01" target="_blank"><i class="fab fa-stack-overflow"></i></a>
            <a href="https://soundcloud.com/creo-sote" target="_blank"><i class="fab fa-soundcloud"></i></a>
            <a href="https://www.linkedin.com/in/krzysztof-zoń/" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>
