<div class="container">
    <div class="row text-center">
        <div class="col-12 mb-3">
            <h2>Commercial projects</h2>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 col-lg-4 mt-md-3">
            <h3>Completed orders:</h3>
            <h1 class="counter"><animated-digit [digit]="3" [duration]="1000"></animated-digit></h1>
        </div>
        <div class="col-md-12 col-lg-4 mt-md-3">
            <h3>Maintained projects:</h3>
            <h1 class="counter"><animated-digit [digit]="2" [duration]="1000"></animated-digit></h1>
        </div>                   
        <div class="col-md-12 col-lg-4 mt-md-3">
            <h3>Further projects:</h3>
            <h1 class="counter"><animated-digit [digit]="4" [duration]="1000"></animated-digit></h1>
        </div>
    </div>
</div>