<div class="container">
    <div class="row text-center">
      <div class="col-12 my-5 d-none d-lg-block">
          <div class="heading-parallax-border">
              <h1>HOBBY ART PROJECTS</h1>
          </div>
      </div>
      <div class="col-12 my-5 d-lg-none">
          <div class="heading-parallax-border">
              <h4>HOBBY ART PROJECTS</h4>
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-4 my-5">
            <a class="card-ext-link" routerLink="/gallery">
                <div class="card">
                    <img class="card-img-top" src="./assets/art-photography.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Photography</h5>
                        <p class="card-text">A collection of my photos, a very contrasting combination of nature and industry.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-12 col-lg-4 my-5">
            <a class="card-ext-link" href="https://soundcloud.com/creo-sote">
                <div class="card">
                    <img class="card-img-top" src="./assets/art-music.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Music</h5>
                        <p class="card-text">I play various instruments, but I devote the most time to electronic music under the pseudonym "creosote".</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-12 col-lg-4 my-5">
            <a class="card-ext-link" href="https://youtu.be/RMvAB-T7KpE">
                <div class="card">
                    <img class="card-img-top" src="./assets/art-videos.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Videos</h5>
                        <p class="card-text">I plan to document my progress on projects, but so far I only hit it during "AccessPointMap".</p>
                    </div>
                </div>
            </a>
        </div>
    </div>   
</div>