<div class="row text-center padding">
    <div class="col-12">
        <h2>Social media</h2>
    </div>
    <div class="col-12 social padding">
        <a href="https://twitter.com/zon_krzysztof" target="_blank" rel="noopener"><i class="fab fa-twitter social-zoom"></i></a>
        <a href="https://www.instagram.com/zonkrzysztof/" target="_blank" rel="noopener"><i class="fab fa-instagram social-zoom"></i></a>
        <a href="https://www.deviantart.com/sp3cn4z" target="_blank" rel="noopener"><i class="fab fa-deviantart social-zoom"></i></a>
        <a href="https://github.com/Krzysztofz01" target="_blank" rel="noopener"><i class="fab fa-github social-zoom"></i></a>
        <a href="https://stackoverflow.com/users/12150524/krzysztofz01" target="_blank" rel="noopener"><i class="fab fa-stack-overflow social-zoom"></i></a>
        <a href="https://soundcloud.com/creo-sote" target="_blank" rel="noopener"><i class="fab fa-soundcloud social-zoom"></i></a>
        <a href="https://www.linkedin.com/in/krzysztof-zoń/" target="_blank" rel="noopener"><i class="fab fa-linkedin social-zoom"></i></a>
    </div>
</div>